language: objective-c
osx_image: xcode8.1

before_install:
  - gem install slather --no-document --quiet
  - travis_wait pod repo update --silent

script:
  - xcodebuild clean build test -workspace FeedHenry.xcworkspace -scheme FeedHenry -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.1'

notifications:
  irc: "irc.freenode.org#feedhenry"

branches:
  only:
    - master

after_success:
  - slather
