<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appkey</key>
	<string>e2a75a27e3079086595d1a0b0dc996fa92fd6c89</string>
	<key>connectiontag</key>
	<string>0.0.1</string>
	<key>host</key>
	<string>https://whatever.com</string>
	<key>projectid</key>
	<string>fXPFgW_0sl_o1fT0FSi6Qfsj</string>
	<key>appid</key>
	<string>fXPFgWSN94DxoFoqgml6WeES</string>
</dict>
</plist>
